openapi: 3.0.3
info:
  title: fatsecret Weight Tracking API
  description: The fatsecret Platform API provides programmatic access to a global food nutrition database covering more than 1.9 million verified food items across 56 countries. It supports food and recipe search, barcode scanning, image recognition, natural language processing, and full profile-based food diary, exercise diary, and weight tracking management.
  version: '3.0'
  contact:
    name: fatsecret Platform
    url: https://platform.fatsecret.com/platform-api
servers:
- url: https://platform.fatsecret.com/rest
  description: REST endpoint for URL-based and method-based integration
security:
- oauth2: []
- oauth1: []
tags:
- name: Weight Tracking
  description: User weight history
paths:
  /weights/v2:
    get:
      tags:
      - Weight Tracking
      summary: Get weight history
      operationId: getWeights
      responses:
        '200':
          description: Weight entries
    post:
      tags:
      - Weight Tracking
      summary: Update weight entry
      operationId: updateWeight
      responses:
        '200':
          description: Updated
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://oauth.fatsecret.com/connect/token
          scopes:
            basic: Basic access to food and recipe data
            premier: Premier access including image recognition and NLP
    oauth1:
      type: http
      scheme: oauth
      description: OAuth 1.0a request signing
