openapi: 3.0.3
info:
  title: fatsecret Recipes API
  description: The fatsecret Platform API provides programmatic access to a global food nutrition database covering more than 1.9 million verified food items across 56 countries. It supports food and recipe search, barcode scanning, image recognition, natural language processing, and full profile-based food diary, exercise diary, and weight tracking management.
  version: '3.0'
  contact:
    name: fatsecret Platform
    url: https://platform.fatsecret.com/platform-api
servers:
- url: https://platform.fatsecret.com/rest
  description: REST endpoint for URL-based and method-based integration
security:
- oauth2: []
- oauth1: []
tags:
- name: Recipes
  description: Search and retrieve recipes
paths:
  /recipes/search/v3:
    get:
      tags:
      - Recipes
      summary: Search recipes
      operationId: searchRecipes
      parameters:
      - name: search_expression
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Matching recipes
  /recipe/v2:
    get:
      tags:
      - Recipes
      summary: Get recipe by id
      operationId: getRecipe
      parameters:
      - name: recipe_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Recipe details
  /recipe-types/v2:
    get:
      tags:
      - Recipes
      summary: List recipe types
      operationId: listRecipeTypes
      responses:
        '200':
          description: Recipe types
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://oauth.fatsecret.com/connect/token
          scopes:
            basic: Basic access to food and recipe data
            premier: Premier access including image recognition and NLP
    oauth1:
      type: http
      scheme: oauth
      description: OAuth 1.0a request signing
